<ion-view title="About">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>C# Conference 2016</h3>
        <div>
           <h4>Demo Ionic application for CSharp Conference 2016</h4>
            <p>Version: 0.3x (gegu)</p> 
            <p>
            Coded by: <img src="img/Twitter.Png"" height="15px" width="auto"> <a href='https://twitter.com/ajsondev' target="_blank">@ajsondev</a> 
            <br/>
               <a href='http://blox.io' target="_blank">www.blox.io</a> 
            <br/>
            <br/>
            Conference website: <br/>
            <a href='http://conference.c-sharpcorner.com/' target="_blank">http://conference.c-sharpcorner.com/</a> 
            </p>   
        </div>
    </ion-content>
    </ion-view>