<ion-view title="Venue">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>
            <img src="img/location.png"> &nbsp; &nbsp;  <strong>COUNTRY INN & SUITES</strong></p>
            <p>4/6 Site-IV, Sahibabad, Ghaziabad (Near Noida), <br/>
            Uttar Pradesh, India
            </br></br></p>
            <img src="img/phone.png"> &nbsp; &nbsp;  Conference phone: <br/> &nbsp; &nbsp;  &nbsp; &nbsp;   &nbsp; &nbsp;  <phone>+91 97 1843 1042</phone>, +91120 4256016 <br/>
            <img src="img/mail.png">  &nbsp; &nbsp; <a href="mailto:conference@c-sharpcorner.com">conference@c-sharpcorner.com</a> <br/>  <br/>
            <img src="img/CountryInnSuites.png"  width="100%" height="auto">  
        </div>
    </ion-content>
</ion-view>